        <footer id ="bottomPage">
            <hr>
            CST-336. 2019&copy; Fahy <br />
            <strong>Disclaimer:</strong> The information in this webpage is fictitous. <br/>
            It is used for academic purposes only.
            <figure>
                <img src="img/csumb-logo.png" height="100" width="300" alt="CSUMB logo" />
            </figure>
        </footer>
        
        
    </body>
</html>