<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Project 1 </title>
        
        
        <link href="css/home.css" rel="stylesheet" type="text/css" />
        
        
    </head>
    
    <body>
        <header id="header01">Different Types of Algorithms</header>
        <nav>
            <hr>
            <a href = "/" id="overview">Overview</a>
            <a href = "/search" id="searchPage">Search Algorithms</a>
            <a href = "/sort" id="sortPage">Sort Algorithms</a>
            <a href = "/graph" id="graphPage">Graph Algorithms</a>
        </nav>
        
        <br /><br />