<% include partials/header.ejs %>
        <style>
            #graphPage {
                border-bottom: 2px blue solid;
                font-size: 2em;
            }
        </style>
        <main class="bodyofPage">
           <figure>
               <img src="img/graph.jpg" height="400" class="pics" alt="picture of stock photo graph">
           </figure>
           
           <p class="defText">
               
               Graphs are used to solve many real-life problems. Graphs are used to represent networks. The networks may include paths in a city or telephone network or circuit network. Graphs are also used in social networks like linkedIn, Facebook. For example, in Facebook, each person is represented with a vertex(or node). Each node is a structure and contains information like person id, name, gender, locale etc.
               <br><br>
               Some of the most common graph algorithms are: <br>
               Depth-First Search <br> Breadth-First Search <br> Dijkstra's Algorithm <br> Khan's Algorithm <br>
               <br>
               <a href ="https://www.geeksforgeeks.org/graph-data-structure-and-algorithms/" class="sourceText"><i>Source</i></a>
               <br>
              If you need to contact a professional : <%= fakeName %> 
           </p>
          
            
            
        </main>
        
        
<% include partials/footer.ejs %>