<% include partials/header.ejs %>
        <style>
            #overview {
                border-bottom: 2px blue solid;
                font-size: 2em;
            }
        </style>
        <main class="bodyofPage">
            <figure>
                <img src="img/algorithm.jpg" class="pics" alt="pic of code">
            </figure>
            
            <p class="defText">
              al·go·rithm
              <br>
                /ˈalɡəˌriT͟Həm/
                <br>
                <i>noun</i>
                <br> <br>
                <q cite="https://www.merriam-webster.com/dictionary/algorithm">a process or set of rules to be followed in calculations or other problem-solving operations, especially by a computer.
                a basic algorithm for division</q>
                <br> <br>
              This website will show some basic types of algorithms that are widely used in the programming world. It will explain how search, sort, and graph algorithms
              are used in the world of tech.
              <br> <br>
              If you need to contact a professional : <%= fakeName %> 
              
            </p>
            
            
            
            
        </main>
        
        
<% include partials/footer.ejs %>